:root {
  --text: #121212;
  --background: #efefef;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #efefef;
    --background: #121212;
  }
}

body {
  padding: 2em;
}

a {
  display: block;
  padding: 0.5em;
  text-decoration: none;
  color: var(--text);
}

.footer {
  position: absolute;
  bottom: 1em;
  right: 1em;
}

ul {
  list-style-type: none;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--background);
  }

  h2 {
    color: var(--text);
  }

  p {
    color: var(--text);
  }

  a {
    color: var(--text);
  }
}

.rainbow {
  background-repeat: repeat-x;
  background: linear-gradient(
    to right,
    #eb5252,
    #f78f2f,
    #f4c151,
    #75d850,
    #6284ff,
    #eb5252
  );
  animation: rainbow 10s linear infinite;
  background-size: 200% 100% !important;
}
@keyframes rainbow {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 800% 0;
  }
}

.rainbow-tile {
  background-color: var(--background);
}

.rainbow-tile:hover {
  background-color: transparent;
}
