@keyframes flicker {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#leading {
  font-size: 4rem;
  display: block;
  width: 100%;
  text-align: center;
  margin: 2rem auto;
}

.about {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-size: 1.2rem;
    margin-bottom: 0;
  }

  img {
    border-radius: 100%;
    max-height: 170px;
    margin-right: 2rem;
  }
}

.about-android {
  height: 400px;
  background-color: #669900;
  font-size: 2em;
}

.section {
  padding-top: 2rem;
  width: 100%;

  span {
    color: green;
  }
}

.technologies {
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.technology {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

  p {
    text-align: center;
  }

  img {
    max-width: 220px;
  }
}

@media (max-width: 800px) {
  #leading {
    font-size: 2rem;
  }

  .technologies {
    flex-direction: column;
  }

  .projects {
    flex-direction: column;
  }
}
