.project-list {
  margin-top: $spacing-unit;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(13rem, 2fr));
  gap: 1em;
}

.project {
  background: #eee;
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
}

.project__image {
  width: 100%;
  height: auto;
}

.project__container {
  margin: $spacing-unit / 2;
  display: flex;
  flex-direction: column;
}

.project__container__title {
  font-size: larger;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 0;
  align-self: center;
  flex: 1 1 0px;
}

.project__container__description {
  margin-bottom: 0;
  flex: 1 1 100px;
}

.project__buttons__container {
  width: 100%;
  display: flex;
}

.project__button {
  padding: 3px 0;
  color: black;
  width: 40%;
  border-radius: 2px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  text-decoration: none;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  transition-property: transform;

  &:hover {
    transform: scale(1.2, 1.2);
    text-decoration: none;
  }

  &:visited {
    color: black;
  }
}

#discover-rudy .title {
  color: #669900;
}

#spitfire .title {
  color: orangered;
}

#bus-waker .title {
  color: orange;
}
